<head>
  <link rel="stylesheet" href="/css/admin_dataAnalysis.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/data.js"></script>
  <script src="https://code.highcharts.com/modules/drilldown.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src="https://code.highcharts.com/modules/export-data.js"></script>
  <script src="https://code.highcharts.com/modules/accessibility.js"></script>
</head>

<!-- Left：Sidebar -->
<nav class="sidebar col-md-1">
  <!-- STORELINE ADMIN -->
  <div class="d-flex justify-content-around">
    <div class="sidebar__home">
      STORELINE</br>
      <div class="sidebar__home__admin">
        ADMIN
      </div>
    </div>
  </div>

  <div class="sidebar__menu">
    <!-- Products -->
    <div class="sidebar__menu__link sidebar__menu__link--frame sidebar__menu__link--active">
      <a class="sidebar__menu__link btn btn-warning btn-block " href="/admin/products" role="button">
        <i class="fas fa-shopping-bag"></i> All Products
      </a>
    </div>

    <!-- Create New Products -->
    <div class="sidebar__menu__link sidebar__menu__link--folder ">
      <a class="sidebar__menu__link btn btn-warning btn-block" href="/admin/products/create" role="button">
        <i class="fas fa-plus-square"></i> Launch Products
      </a>
    </div>

    <!-- Category -->
    <div class="sidebar__menu__link sidebar__menu__link--mail">
      <a class="sidebar__menu__link btn btn-success btn-block" href="/admin/categories" role="button">
        <i class="fas fa-shopping-basket"></i> Category
      </a>
    </div>

    <!-- User Authority -->
    <div class="sidebar__menu__link sidebar__menu__link--mail">
      <a class="sidebar__menu__link btn btn-danger btn-block" href="/admin/users" role="button">
        <i class="fas fa-user-cog"></i> User Authority
      </a>
    </div>

    <!-- Data Analysis -->
    <div class="sidebar__menu__link sidebar__menu__link--mail">
      <a class="sidebar__menu__link btn btn-info btn-block" href="/admin/data" role="button">
        <i class="fas fa-chart-bar"></i> Data Analysis
      </a>
    </div>

  </div>
</nav>

<!-- Right：Main -->
<main class="main">
  <h1 class="main__title">DATA ANALYSIS</h1>
  <hr>

  <figure class="highcharts-figure">
    <div id="container1"></div>
    <!-- 圖表說明 -->
    <p class="highcharts-description">
      ※ Caluculating subtotal amount of selling price sorted by categories.
    </p>
  </figure>

  <!-- Highcharts：關鍵在於傳輸過程  -->
  <!-- 1. 整理 data 陣列資料 -->
  <!-- Controllers 整理完 data 陣列後，用 res.render 傳入 Views，但  -->
  <script>
    // I. 觀察從 Controllers 回傳 Views 的 data。
    let resultObjectStr = `${{ data }}`
    // II. replace：替換字串。
    resultObjectStr = resultObjectStr.replace("$", "")
    // III. g：To perform a global search and replace, include the g switch in the regular expression.
    resultObjectStr = resultObjectStr.replace(/&quot;/g, '"')
    // IV. JSON.parse：將 JSON 字串轉成 JavaScript 數值或物件。因為 Controller 的 data 是 JSON 格式，要轉成 JavaScript，Highcharts 才能解析。
    let resultObject = JSON.parse(resultObjectStr)
  </script>

  <!-- 2. Highcharts：主要圖表 Code。 -->
  <!-- <script type="text/javascript"></script> -->
  <script>
    Highcharts.chart("container1", {
      chart: {
        type: 'column'
      },

      title: {
        text: '[ Subtotal Amount ] sorted by categories'
      },

      subtitle: {
        text: '單位：NT$／元'
      },

      accessibility: {
        announceNewData: {
          enabled: true
        }
      },

      xAxis: {
        type: 'category'
      },

      yAxis: {
        title: {
          text: ''
        }
      },

      legend: {
        enabled: false
      },

      plotOptions: {
        series: {
          borderWidth: 0,
          dataLabels: {
            enabled: true,
            format: '{point.y:.0f}'
          }
        }
      },

      tooltip: {
        headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
        pointFormat: '<span style="color:{point.color}">{point.name}</span>: NT$ <b>{point.y:.0f}</b>'
      },

      series: [
        {
          name: "Browsers",
          colorByPoint: true,
          data: resultObject
        }
      ],
    })

  </script>

</main>