/* CSS Reset：各瀏覽器預設還原(Start) */

/* 載入字型 */

/* @import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,700&display=swap&subset=chinese-traditional"); */

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f6f7f8;
  font-family: "Noto Sans TC", sans-serif;
  /* 設定字型 */
  font-size: 1rem;
  line-height: 1.4;
  margin: 0;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  line-height: 0.9;
}

p {
  margin: 0;
}

ul, li {
  list-style-type: none;
  /* 拿掉<li>前方小黑點 */
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  /* 拿掉底線 */
}

/* CSS Reset-End */

/* global */

:root {
  --main-dark: #03396a;
  --grey-1: #e4e4e4;
  --background-grey: #f3f3f3;
  --main-color: #ff6500;
  --border-color: #e4e4e4;
  --zebra-color: #e9e9e9;
  --header-color: #cdcdcd;
  --table-grey-text: #828282;
  --white: white;
  --main-text-color: black;
  --header-text-color: black;
  --table-background-color: #ffffff;
  --logo-url: url("https://raw.githubusercontent.com/ALPHACamp/WFE-data-table/0f97f3113bff18353154b8644eb0b31fff2a3bef/icons/logo.svg");
  --darkmode-toggle-url: url("https://raw.githubusercontent.com/ALPHACamp/WFE-data-table/0f97f3113bff18353154b8644eb0b31fff2a3bef/icons/darkmode-on.svg");
}

html {
  font-size: 14px;
  height: 100%;
  color: var(--main-text-color);
}

/* global End */

/* dark mode-2 */

:root {
  --main-dark: #03396a;
  --grey-1: #e4e4e4;
  --background-grey: #f3f3f3;
  --main-color: #ff6500;
  --border-color: #e4e4e4;
  --zebra-color: #e9e9e9;
  --header-color: #cdcdcd;
  --table-grey-text: #828282;
  --white: white;
  --background-white: white;
  --main-text-color: black;
  --header-text-color: black;
  --table-background-color: #ffffff;
  --logo-url: url("https://raw.githubusercontent.com/WendellLiu/alphacamp-frontend-course/master/data-table/static/icons/logo.svg");
  --darkmode-toggle-url: url("https://raw.githubusercontent.com/WendellLiu/alphacamp-frontend-course/master/data-table/static/icons/darkmode-on.svg");
}

[data-theme="dark"] {
  --main-dark: #3a3a3a;
  --grey-1: #e4e4e4;
  --background-grey: #202020;
  --main-color: transparent;
  --border-color: #e4e4e4;
  --zebra-color: #575757;
  --header-color: #2e2e2e;
  --table-grey-text: rgba(255, 255, 255, 37%);
  --white: white;
  --background-white: #6b6b6b;
  --main-text-color: white;
  --header-text-color: #aaaaaa;
  --table-background-color: #3a3a3a;
  --logo-url: url("https://raw.githubusercontent.com/WendellLiu/alphacamp-frontend-course/master/data-table/static/icons/logo-dark.svg");
  --darkmode-toggle-url: url("https://raw.githubusercontent.com/WendellLiu/alphacamp-frontend-course/master/data-table/static/icons/darkmode-off.svg");
}

html {
  font-size: 14px;
  height: 100%;
  color: var(--main-text-color);
}

/* dark mode-2 End */

/* body */

body {
  display: flex;
  height: 100%;
  min-height: 480px;
  background: var(--background-grey);
}

.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 180px;
  height: 1200px;
  /* background: var(--main-dark); */
  background: #001935;
  padding-top: 30px;
  padding-bottom: 30px;
}

.main {
  flex: 1;
  margin: 0px 0px 0px 200px;
  padding: 10px 50px 60px 50px;
  max-height: 100vh;
  overflow-y: auto;
}

/* USER AUTHORITY */

.main__title {
  margin: 20px 0px 20px 0px;
  font-size: 26px;
}

.main__table {
  background: var(--table-background-color);
  font-size: 18px;
}

/* body End */

/* table */

.table__header {
  background: var(--header-color);
  color: var(--header-text-color);
}

.table__row {
  height: 50px;
  border-bottom: 1px solid var(--border-color);
}

.table__cell {
  text-align: center;
}

/* ID */

.table__cell--id {
  width: 50px;
}

/* Name */

/* .table__cell--name {
  width: 140px;
} */

/* Email */

/* .table__cell--email {
  width: 300px;
} */

/* User Authority */

.table__cell--authority {
  font-weight: bold;
}

/* Switch */

.table__cell--switch {
  width: 300px;
  /* border: 3px solid blue; */
}

.table__cell--switch--button {
  /* border: 3px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
}

.table__cell--switch--item {
  margin: 0px 5px 0px 5px;
}

.cell__switch__line {
  display: block;
  font-size: 18px;
}

.cell__switch__line--group {
  color: var(--table-grey-text);
  font-size: 16px;
}

.table__cell--starttime {
  width: 140px;
  position: relative;
}

.table__cell--endtime {
  width: 140px;
  position: relative;
}

.table__cell--action {
  width: 210px;
  position: relative;
}

.cell__action__icon {
  cursor: pointer;
}

.header__cell__icon {
  cursor: pointer;
}

.header__cell__icon--right {
  position: absolute;
  right: 0;
}

/* table End */

/* menu */

/* 注意：錨點 position: relative，設在.table__cell--action內 */

.action__menu {
  z-index: 1;
  position: absolute;
  right: 50%;
  top: 100%;
  width: 140px;
  height: 120px;
  background: var(--white);
  border: 1px solid var(--border-color);
}

.hidden {
  display: none;
}

.menu__body {
  display: flex;
  flex-direction: column;
  padding-left: 12px;
}

.menu__item {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 40px;
}

.menu__item__icon {
  margin-right: 14px;
}

/* menu End */

/* sidebar */

/* STORELINE */

.sidebar__home {
  min-height: 64px;
  background-size: 100% 100%;
  margin-bottom: 50px;
  cursor: pointer;
  font-size: 20px;
  color: #d9d9d9;
}

/* STORELINE-ADMIN */

.sidebar__home__admin {
  cursor: pointer;
  font-size: 16px;
  color: #d9d9d9;
}

.sidebar__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar__menu__link {
  display: flex;
  align-items: center;
  justify-content: start;
  cursor: pointer;
  width: 160px;
  height: 40px;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

/* .sidebar__menu__link--active {
  background: var(--white);
} */

.sidebar__menu>div:not(:last-child) {
  margin-bottom: 30px;
}

/* sidebar End */

/* dark mode-1 */

.sidebar__darkmode__label {
  background: var(--darkmode-toggle-url);
  background-size: 100% 100%;
  cursor: pointer;
  height: 100%;
  width: 100%;
}

.sidebar__darkmode__input {
  display: none;
}

/* dark mode-1 End */

/* 注意：整體佈局
覆蓋 main.hbs 的 <link rel="stylesheet" media="all"
    href="https://cdn.shoplineapp.com/assets/common-f47625baea59b7f28766c213f44af5679a3f7198f77cf8bb89041274db97940a.css"> */

.container.global-primary.d-flex.justify-content-around {
  width: 100%;
  /* display: flex;
    align-items: center;
    justify-content: space-evenly; */
}